In [21]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/yamunas-odyssey-a-dream-to-conquer-iit-jammu/sample_submission.csv
/kaggle/input/yamunas-odyssey-a-dream-to-conquer-iit-jammu/train.csv
/kaggle/input/yamunas-odyssey-a-dream-to-conquer-iit-jammu/test.csv

In [22]:
df= pd.read_csv("/kaggle/input/yamunas-odyssey-a-dream-to-conquer-iit-jammu/train.csv")
df.head()

,Roll No,Name,Caoching,High School Marks,12th Appearing,Intermediate Marks,Income,Dummy,School Board,Device to Study,Online Course,Category,PwD,Age,Sex,Passed
0,5467238558,NOOFT MFFYT,NO,80.5,NO,92.2,59000,NO,Maharashtra Board,Laptop,YES,General-EWS,NO,20,M,FAIL
1,5467299091,CXYTK EYIRF,NO,83.3,YES,NaN,390000,NO,BSEB,Phone,YES,ST,NO,18,F,FAIL
2,546729932,UKIFE PPYNH,NO,76.4,YES,NaN,3140000,NO,CBSE,NaN,NaN,OBC-NCL,NO,18,M,FAIL
3,546729181,TZIRV XMAKN,YES,89.7,NO,79.4,345000,YES,HP Board,NaN,NaN,SC,NO,21,M,PASS
4,546724317,NVQJK PVMJH,YES,98.9,NO,95.3,29000,NO,CBSE,NaN,NaN,SC,YES,17,M,PASS

In [23]:
for column in df.columns:
    print(f"Unique values in {column}: {df[column].unique()}")

Unique values in Roll No: [5467238558 5467299091  546729932 ... 5467222679 5467225920 5467251129]
Unique values in Name: ['NOOFT MFFYT' 'CXYTK EYIRF' 'UKIFE PPYNH' ... 'HCIOJ PCODE' 'ROOAN EYTRE'
 'OPOMP MDHLV']
Unique values in Caoching: ['NO' 'YES']
Unique values in High School Marks: [ 80.5  83.3  76.4  89.7  98.9  99.3  86.   97.5  83.   98.4  80.6  93.4
  75.5  89.8  78.3  99.7  88.3  85.3  92.3  88.4  85.6  91.   87.4  94.2
  87.7  81.7  83.9  76.8  86.2  77.4  80.9  81.   81.1  86.6  96.7  80.2
  94.1  76.3  75.8  79.9  79.7  99.1  96.8  97.1  98.8  98.7  86.7  82.
  92.2  96.3  88.   97.7  91.9  78.8  85.4  92.6  97.   82.2  86.4  76.6
  82.6  81.5  77.6  88.8  94.9  83.8  89.9  98.1  91.6  79.2  93.1  88.5
  88.1  97.6  84.   80.4  83.1  86.3  89.4  87.2  98.6  89.2  98.5  77.2
  86.1  97.3  83.4  77.3  76.1  80.8  92.7  95.7  95.8  78.6  91.7  99.2
  97.2  88.6  96.5  89.   90.   91.2  86.5  90.6  94.5  85.8  93.   77.8
  96.4  93.8  89.1  93.3  82.9  76.   79.5  87.   98.   84.7  99.4  85.2
  77.9  99.6  90.2  88.7  82.8  84.8  79.   86.9  84.1  85.7  89.3  75.
  80.3  91.1  94.8  90.1  77.   81.8  85.9  96.   82.7  81.4  84.4  96.9
  87.3  94.   80.1  96.2  92.4  94.4  88.2  87.6  85.5  79.8  75.6  88.9
  92.   76.2  83.7  75.7  99.9  84.6  75.2  84.2  78.4  76.9  95.9  89.5
  79.6  94.3  78.2  78.1  91.4  90.9  82.1  84.5  93.6  78.7  92.8  91.8
  89.6  91.5  98.2  80.7  76.5  99.   77.5  83.2  86.8  82.3  77.7  81.9
  95.6  83.5  87.8  75.4  97.9  95.5  77.1  97.4  97.8  93.5  79.1  81.2
  81.6  91.3  75.1  90.5  92.1  93.7  84.9  87.9  92.5  83.6  78.5  78.
  82.5  95.   84.3  95.1  95.2  82.4  98.3  81.3  95.4  95.3  93.2  92.9
  80.   79.4  85.   96.1  90.8  99.8  90.3  85.1  76.7  79.3  93.9  87.1
  96.6  78.9  94.7  75.3  87.5  90.4  99.5  90.7 100.   94.6  75.9]
Unique values in 12th Appearing: ['NO' 'YES']
Unique values in Intermediate Marks: [ 92.2   nan  79.4  95.3  98.3  93.5  81.4  92.   88.6  79.   78.9  75.7
  95.8  98.6  87.2  78.6  78.1  83.5  86.9  94.8  77.9  82.   76.2  85.7
  94.3  82.1  80.6  96.1  83.9  76.1  84.1  93.6  94.2  90.9  99.4  85.8
  83.3  89.2  86.   85.9  76.7  83.4  93.8  77.8  75.3  99.2  78.4  91.8
  76.3  89.7  80.   92.5  75.   81.2  93.7  86.1  86.6  88.3  89.5  91.
  78.   83.8  85.5  79.9  81.9  97.2  82.7  84.3  96.5  98.8  98.9  95.5
  99.6  80.2  83.7  97.4  86.8  90.8  95.1  97.9  96.2  79.8  75.1  91.7
  88.7  79.3  89.9  95.4  79.6  98.   78.8  95.9  97.1  99.3  81.5  94.1
  85.2  85.1  77.2  77.5  87.6  78.5  95.2  81.3  84.7  79.7  91.9  80.8
  82.6  84.8  79.5  88.5  97.5  84.9  85.6  76.5  76.9  92.3  78.2  93.3
  82.3  87.1  91.4  89.   88.8  93.1  77.1  80.4  90.1  91.5  82.2  75.5
  77.7  92.4  99.   96.   93.4  80.3  97.8  94.4  81.1  94.   93.   81.
  97.3  83.   88.1  75.2  87.9  99.5  96.9  80.9  97.6  92.8  92.7  82.8
  91.1  80.7  77.6  78.3  86.2  89.1  84.4  90.4  84.   76.4  83.6  87.8
  89.4  99.7  83.2  88.9  84.5  94.6  89.6  90.7  94.9  79.2  77.4  76.
  86.5  94.7  82.9  82.4  81.8  87.3  90.5  83.1  99.8  86.7  88.   97.7
  98.5  91.2  78.7  90.   99.9  79.1  80.1  90.6  75.6  87.   77.3  91.6
  75.8  99.1  81.7  95.   85.  100.   76.6  87.4  98.7  88.4  91.3  75.4
  96.7  89.8  96.4  92.9  94.5  95.6  93.9  82.5  86.4  87.5  84.2  75.9
  92.6  90.3  77.   98.1  84.6  96.6  89.3  81.6  88.2  85.4  87.7  85.3
  98.2  80.5  90.2  98.4  76.8  86.3  95.7  97.   96.8  93.2  96.3  92.1]
Unique values in Income: [  59000  390000 3140000 ... 2313000 2776000 4585000]
Unique values in Dummy: ['NO' 'YES']
Unique values in School Board: ['Maharashtra Board' 'BSEB' 'CBSE' 'HP Board' 'PSEB' 'Kerala DHSE'
 'Goa Board' 'GSEB' 'JKBOSE' 'Nagaland Board' 'UP Board' 'UK Board'
 'MBOSE HSSLC' 'CGBSE' 'ISC' 'MP Board' 'Tamil Nadu Boards'
 'Telangana Board' 'AP Board' 'Karnatak PUC']
Unique values in Device to Study: ['Laptop' 'Phone' nan 'Tablet']
Unique values in Online Course: ['YES' nan]
Unique values in Category: ['General-EWS' 'ST' 'OBC-NCL' 'SC' 'Minority' 'General']
Unique values in PwD: ['NO' 'YES']
Unique values in Age: [20 18 21 17 19 16]
Unique values in Sex: ['M' 'F']
Unique values in Passed: ['FAIL' 'PASS']

In [24]:
df.isnull().sum()

Roll No                   0
Name                      0
Caoching                  0
High School Marks         0
12th Appearing            0
Intermediate Marks    39931
Income                    0
Dummy                     0
School Board              0
Device to Study       50066
Online Course         65062
Category                  0
PwD                       0
Age                       0
Sex                       0
Passed                    0
dtype: int64

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 16 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Roll No             100000 non-null  int64
 1   Name                100000 non-null  object
 2   Caoching            100000 non-null  object
 3   High School Marks   100000 non-null  float64
 4   12th Appearing      100000 non-null  object
 5   Intermediate Marks  60069 non-null   float64
 6   Income              100000 non-null  int64
 7   Dummy               100000 non-null  object
 8   School Board        100000 non-null  object
 9   Device to Study     49934 non-null   object
 10  Online Course       34938 non-null   object
 11  Category            100000 non-null  object
 12  PwD                 100000 non-null  object
 13  Age                 100000 non-null  int64
 14  Sex                 100000 non-null  object
 15  Passed              100000 non-null  object
dtypes: float64(2), int64(3), object(11)
memory usage: 12.2+ MB

In [26]:
import pandas as pd

# assuming df is your DataFrame
columns_to_fill = ['Intermediate Marks']

for column in columns_to_fill:
    if pd.api.types.is_numeric_dtype(df[column]):
        df[column].fillna(df[column].mean(), inplace=True)
    else:
        print(f"Cannot calculate mean of {column} as it is not numeric.")

df.isnull().sum()

/tmp/ipykernel_34/3242385869.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[column].fillna(df[column].mean(), inplace=True)

Roll No                   0
Name                      0
Caoching                  0
High School Marks         0
12th Appearing            0
Intermediate Marks        0
Income                    0
Dummy                     0
School Board              0
Device to Study       50066
Online Course         65062
Category                  0
PwD                       0
Age                       0
Sex                       0
Passed                    0
dtype: int64

In [27]:
from sklearn.preprocessing import LabelEncoder
import pandas as pd

# assuming df is your DataFrame
le = LabelEncoder()

df['Device to Study'] = le.fit_transform(df['Device to Study'].astype(str))
df['Online Course'] = le.fit_transform(df['Online Course'].astype(str))

print(df)

          Roll No         Name Caoching  High School Marks 12th Appearing  \
0      5467238558  NOOFT MFFYT       NO               80.5             NO
1      5467299091  CXYTK EYIRF       NO               83.3            YES
2       546729932  UKIFE PPYNH       NO               76.4            YES
3       546729181  TZIRV XMAKN      YES               89.7             NO
4       546724317  NVQJK PVMJH      YES               98.9             NO
...           ...          ...      ...                ...            ...
99995  5467264257  CKCAM VXTRB      YES               78.3             NO
99996  5467287876  XCGWA VSXSA       NO               93.7            YES
99997  5467222679  HCIOJ PCODE      YES               76.8            YES
99998  5467225920  ROOAN EYTRE      YES               87.0             NO
99999  5467251129  OPOMP MDHLV      YES               96.4            YES

       Intermediate Marks   Income Dummy       School Board  Device to Study  \
0               92.200000    59000    NO  Maharashtra Board                0
1               87.419339   390000    NO               BSEB                1
2               87.419339  3140000    NO               CBSE                3
3               79.400000   345000   YES           HP Board                3
4               95.300000    29000    NO               CBSE                3
...                   ...      ...   ...                ...              ...
99995           94.200000   147000    NO               GSEB                1
99996           87.419339   442000    NO               CBSE                2
99997           87.419339    43000    NO               CBSE                3
99998           96.800000    85000   YES           UP Board                3
99999           87.419339   284000    NO               CBSE                3

       Online Course     Category  PwD  Age Sex Passed
0                  0  General-EWS   NO   20   M   FAIL
1                  0           ST   NO   18   F   FAIL
2                  1      OBC-NCL   NO   18   M   FAIL
3                  1           SC   NO   21   M   PASS
4                  1           SC  YES   17   M   PASS
...              ...          ...  ...  ...  ..    ...
99995              0           ST   NO   18   M   PASS
99996              0     Minority   NO   20   F   FAIL
99997              1      General   NO   19   M   PASS
99998              1  General-EWS   NO   18   F   PASS
99999              1  General-EWS   NO   20   F   PASS

[100000 rows x 16 columns]

In [28]:
df.isnull().sum()

Roll No               0
Name                  0
Caoching              0
High School Marks     0
12th Appearing        0
Intermediate Marks    0
Income                0
Dummy                 0
School Board          0
Device to Study       0
Online Course         0
Category              0
PwD                   0
Age                   0
Sex                   0
Passed                0
dtype: int64

In [29]:
columns_to_encode = ['Caoching', 'Dummy', 'School Board', '12th Appearing', 'Sex', 'PwD', 'Passed','Category']

for column in columns_to_encode:
    df[column] = le.fit_transform(df[column].astype(str))

df = df.drop(['Name', 'Roll No'], axis=1)

print(df)
df_same= df

       Caoching  High School Marks  12th Appearing  Intermediate Marks  \
0             0               80.5               0           92.200000
1             0               83.3               1           87.419339
2             0               76.4               1           87.419339
3             1               89.7               0           79.400000
4             1               98.9               0           95.300000
...         ...                ...             ...                 ...
99995         1               78.3               0           94.200000
99996         0               93.7               1           87.419339
99997         1               76.8               1           87.419339
99998         1               87.0               0           96.800000
99999         1               96.4               1           87.419339

        Income  Dummy  School Board  Device to Study  Online Course  Category  \
0        59000      0            13                0              0         1
1       390000      0             1                1              0         5
2      3140000      0             2                3              1         3
3       345000      1             6                3              1         4
4        29000      0             2                3              1         4
...        ...    ...           ...              ...            ...       ...
99995   147000      0             4                1              0         5
99996   442000      0             2                2              0         2
99997    43000      0             2                3              1         0
99998    85000      1            19                3              1         1
99999   284000      0             2                3              1         1

       PwD  Age  Sex  Passed
0        0   20    1       0
1        0   18    0       0
2        0   18    1       0
3        0   21    1       1
4        1   17    1       1
...    ...  ...  ...     ...
99995    0   18    1       1
99996    0   20    0       0
99997    0   19    1       1
99998    0   18    0       1
99999    0   20    0       1

[100000 rows x 14 columns]

In [30]:
df.head()

,Caoching,High School Marks,12th Appearing,Intermediate Marks,Income,Dummy,School Board,Device to Study,Online Course,Category,PwD,Age,Sex,Passed
0,0,80.5,0,92.200000,59000,0,13,0,0,1,0,20,1,0
1,0,83.3,1,87.419339,390000,0,1,1,0,5,0,18,0,0
2,0,76.4,1,87.419339,3140000,0,2,3,1,3,0,18,1,0
3,1,89.7,0,79.400000,345000,1,6,3,1,4,0,21,1,1
4,1,98.9,0,95.300000,29000,0,2,3,1,4,1,17,1,1

In [31]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report
import pandas as pd

# assuming df is your DataFrame
X = df.drop('Passed', axis=1)
y = df['Passed']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

Accuracy: 0.5817
              precision    recall  f1-score   support

           0       0.00      0.00      0.00      8366
           1       0.58      1.00      0.74     11634

    accuracy                           0.58     20000
   macro avg       0.29      0.50      0.37     20000
weighted avg       0.34      0.58      0.43     20000

/opt/conda/lib/python3.10/site-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/opt/conda/lib/python3.10/site-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/opt/conda/lib/python3.10/site-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [32]:
# Correlation matrix
corr_matrix = df.corr()

# Drop columns with correlation less than 0.1 (example threshold)
df = df.drop([column for column in corr_matrix if abs(corr_matrix['Passed'][column]) < 0.1], axis=1)

In [33]:
df.head()

   Caoching  High School Marks  Dummy  Device to Study  Online Course  Passed
0         0               80.5      0                0              0       0
1         0               83.3      0                1              0       0
2         0               76.4      0                3              1       0
3         1               89.7      1                3              1       1
4         1               98.9      0                3              1       1

In [34]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC

models = {
    'Logistic Regression': LogisticRegression(),
    'Decision Tree': DecisionTreeClassifier(),
    'Random Forest': RandomForestClassifier()
}

for model_name, model in models.items():
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    print(f"{model_name} Accuracy: {accuracy_score(y_test, y_pred)}")

Logistic Regression Accuracy: 0.5817
Decision Tree Accuracy: 0.9586
Random Forest Accuracy: 0.96605

In [36]:
from fastai.tabular.all import *
df= df_same
# Define categorical and continuous variables, and the target
cat_names = ['Caoching', '12th Appearing', 'Dummy', 'School Board', 'Device to Study', 'Online Course', 'Category', 'PwD', 'Sex']
cont_names = ['High School Marks', 'Intermediate Marks', 'Income', 'Age']
y_names = ['Passed']

# Preprocess the data
procs = [Categorify, FillMissing, Normalize]
splits = RandomSplitter(valid_pct=0.2)(range_of(df))

# Prepare the data for the model
to = TabularPandas(df, procs, cat_names, cont_names, y_names, splits=splits)

# Create dataloaders
dls = to.dataloaders(bs=64)

# Create a more complex learner and train the model
learn = tabular_learner(dls, layers=[200,100], metrics=accuracy)
learn.fit_one_cycle(5)

In [37]:
from sklearn.ensemble import BaggingClassifier, AdaBoostClassifier

# Bagging with Decision Trees
bagging = BaggingClassifier(DecisionTreeClassifier(), n_estimators=10)
bagging.fit(X_train, y_train)

# Boosting with AdaBoost
boosting = AdaBoostClassifier(DecisionTreeClassifier(), n_estimators=10)
boosting.fit(X_train, y_train)

AdaBoostClassifier(estimator=DecisionTreeClassifier(), n_estimators=10)

In [38]:
# Predict and calculate accuracy for Bagging
bagging_predictions = bagging.predict(X_test)
bagging_accuracy = (bagging_predictions == y_test).mean()
print(f'Bagging Accuracy: {bagging_accuracy*100:.2f}%')

# Predict and calculate accuracy for AdaBoost
boosting_predictions = boosting.predict(X_test)
boosting_accuracy = (boosting_predictions == y_test).mean()
print(f'AdaBoost Accuracy: {boosting_accuracy*100:.2f}%')

Bagging Accuracy: 96.25%
AdaBoost Accuracy: 95.81%

In [45]:
test_df= pd.read_csv("/kaggle/input/yamunas-odyssey-a-dream-to-conquer-iit-jammu/test.csv")

columns_to_fill = ['Intermediate Marks']

for column in columns_to_fill:
    if pd.api.types.is_numeric_dtype(test_df[column]):
        df[column].fillna(test_df[column].mean(), inplace=True)
    else:
        print(f"Cannot calculate mean of {column} as it is not numeric.")

from sklearn.preprocessing import LabelEncoder

# assuming df is your DataFrame
le = LabelEncoder()

test_df['Device to Study'] = le.fit_transform(test_df['Device to Study'].astype(str))
test_df['Online Course'] = le.fit_transform(test_df['Online Course'].astype(str))

columns_to_encode = ['Caoching', 'Dummy', 'School Board', '12th Appearing', 'Sex', 'PwD','Category']
test_df.head()

/tmp/ipykernel_34/4252713514.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[column].fillna(test_df[column].mean(), inplace=True)

,Roll No,Name,Caoching,High School Marks,12th Appearing,Intermediate Marks,Income,Dummy,School Board,Device to Study,Online Course,Category,PwD,Age,Sex
0,546722345,GIJPQ ZYZPW,YES,87.3,NO,83.5,393000,NO,AP Board,3,1,General-EWS,NO,16,M
1,546722346,YJMBL EIQFA,YES,81.9,YES,NaN,174000,NO,Maharashtra Board,2,0,OBC-NCL,NO,21,F
2,546722347,POTQM FVTEG,YES,75.8,YES,NaN,13000,YES,Goa Board,3,1,General-EWS,NO,21,F
3,546722348,VNPZP BMQTZ,NO,97.8,NO,98.7,122000,NO,CBSE,0,0,ST,NO,19,M
4,546722349,CDAAU LMXVV,YES,90.0,NO,93.6,124000,NO,MP Board,1,1,SC,NO,16,F

In [47]:

for column in columns_to_encode:
    test_df[column] = le.fit_transform(test_df[column].astype(str))

# test_df = test_df.drop(['Name', 'Roll No'], axis=1)

df_same= test_df
from sklearn.model_selection import train_test_split

# X = test_df.drop('Passed', axis=1)
y = test_df['Passed']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
test_df.head()

KeyError: "['Name', 'Roll No'] not found in axis"